@model ReseptsProject.Models.User

@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Test</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Test">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserSurename" class="control-label"></label>
                <input asp-for="UserSurename" class="form-control" />
                <span asp-validation-for="UserSurename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPhone" class="control-label"></label>
                <input asp-for="UserPhone" class="form-control" />
                <span asp-validation-for="UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userpassword" class="control-label"></label>
                <input asp-for="Userpassword" class="form-control" />
                <span asp-validation-for="Userpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authority" class="control-label"></label>
                <input asp-for="Authority" class="form-control" />
                <span asp-validation-for="Authority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deleted" class="control-label"></label>
                <input asp-for="Deleted" class="form-control" />
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
