@{
	ViewData["Title"] = "Haqqında";
}

<section id="about-us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					
						<img class="img-rounded" data-wow-duration="300ms" data-wow-delay="400ms" src="~/restaurant-main/images/personalimg.jpg"
							 alt="cooker-img">
					
					
					<h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
						Kenan <span>Mammadov</span>
					</h1>
					<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
						Lorem ipsum dolor sit
						amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim </br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi
						ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </br>voluptate
						velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
					</p>
				</div>
			</div>
		</div>
	</div>
</section>