@{
    ViewData["Title"] = "Ana Səhifə";
}


<section id="about-us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					
					<h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
						Xarici və milli mətbəxə dair reseptlər.
						 <br />
						<span>Kənan Məmmədov</span>  bir araya gətirdikləri
					</h1>
					<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
						
					</p>
				</div>
			</div>
		</div>
	</div>
</section>